/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #212529;
  background-color: white;
  letter-spacing: 1px;
  font-size: 17px;
}

h2 {
  font-weight: 700;
  margin-bottom: 3rem;
  letter-spacing: 2px;
  font-size: 3.5rem;
color: white;
}

header {
  background-color:  #493f58;
  padding: 20px 0;
}
.headernav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headernav p {
  color: white;
  font-size: 2.5rem;
}

.headernav nav {
  width: 30%;
}

.headernav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headernav ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.headernav ul li { 
  list-style: none;
}

#introduction {
  background-image: url(./images/hero2.webp);
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(215, 98, 117);
}

 .secintro p {
font-size: 1.1rem;
padding: 23px 0;


 }

.secintro button {
  background-color:#ff0e83 ;
  color: white;
  border: 1px solid white;
  border-radius: 29px;
  padding: 13px 32px;

  font-size: 0.875rem;
  cursor: pointer;
  letter-spacing: 1px
}

 #grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr
 }

 .grid_img1
{
  grid-column: 2/4;
 }

 .grid_item img {
  width: 100%; height: 100%;
 }

 .grid_what{ grid-column: 1/3;}

 .grid_im5 {
  grid-column: 3/5;
 }

 .grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

 }

#grid .grid_item:first-child,
#grid .grid_item:nth-child(8) {
  background-color: #4e2a84;
}
#grid .grid_item:nth-child(3) {
  background-color: #ff0e83;
}
#grid .grid_item:nth-child(4) {
  background-color: #ed6498;
}
#grid .grid_item:nth-child(6) {
  background-color: #836eaa;
}
#grid .grid_item h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
#grid .grid_item p {
  font-size: 0.875rem;
  color: #c1c1c1;
  line-height: 29px;
}

#footer {
  padding: 50px 0;
}
#footer .footer_stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.footer_item_num {
  font-size: 2rem;
  color: #4e2a84;
  font-weight: 600;
}
.footer_item_text {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 4px;
  padding: 24px 0;}

 



















